


.play-page {
}

.chat-row {
  flex-grow: 1;

  height: 80%;
}

.chat-window {
  @apply p-2 bg-neutral rounded-xl;
  flex-grow: 1;

}

.chat-window__header {
  @apply bg-primary text-primary-content;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  
  padding: 0.25rem;
  width: calc(100% + 1rem);

  border-radius: 0.75rem 0.75rem 0 0;
  
  text-align: center;
  font-size: 1em;
  font-weight: 600;


}

.tool-row {
  height: 20%;

  &__element {
    @apply p-2 grow bg-neutral rounded-xl ;
  }
}
