


.play-page {

  @media screen and (min-width: 768px) {
    @apply p-4;
  }
}

.chat-row {
  flex-grow: 1;

  height: 80%;
}

.tool-row {
  height: 20%;

  &__element {
    @apply p-2 grow bg-neutral rounded-xl ;
  }
}
