.center {
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.vertical{
  align-items: center;
}

.chat-box {
  overflow-y: scroll;
  flex-direction: column;
  vertical-align: bottom;
  max-height: 90%;
  height: 90%;

  &.h-full{
    max-height: 100%;
    height: 100%;
  }
}

.stat-desc{
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.stats{
  grid-template-columns: 5fr 3fr 3fr 3fr;
}

.publicPending{
  &::after{
    content:"Pending..."
  }
  &:hover::after{
    content:"Cancel Request"
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: none;
  div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
    border: none;
  }
  div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background-color: #1d232a;
  }

  @for $value from 1 through 12 {
    div:nth-child(#{$value}) {
      transform: rotate(#{$value * 30}deg);
      animation-delay: #{-1.1 - $value * .1}s ;
    }
  }
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pageTitle {
  height: 10%;
}
.pageContent {
  height: 80%;
}
.pageBack {
  height: 10%;
}