// // @import 'src/styles/colours.scss';

.example-message-element {
  display: flex;
  flex-direction: row;
  // align-items: center;
  // margin-bottom: 0.5rem;
  // padding: 0.5rem;
  // gap: 0.25rem;
  min-width: 60%;
  // width: full;
  // max-width: fit-content;
  // background-color: palevioletred;
  // border-radius: 0.5rem;
  // color: black;

  &.sent {
    flex-direction: row-reverse !important;
    align-self: flex-end  !important;
    margin-right: 0.25rem;
    // background-color: aliceblue;
  }

  &.recieved {
    align-self: flex-start !important;
    // background-color: rgb(150, 109, 109);
  }

  &.error {
    align-items: center;
  }
}

.chat-bubble {
  min-width: 60%;
}