


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Borel&family=Major+Mono+Display&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@mixin font-abel { font-family: 'Abel', sans-serif; }
@mixin font-barlow-condensed { font-family: 'Barlow Condensed', sans-serif; }
@mixin font-borel { font-family: 'Borel', cursive; }
@mixin font-major { font-family: 'Major Mono Display', monospace; }
@mixin font-montserrat-alternates { font-family: 'Montserrat Alternates', sans-serif; }
@mixin font-roboto-condensed { font-family: 'Roboto Condensed', sans-serif; }

.f1, .f2, .f3, .f4, .f5, .f6 {
	@apply text-3xl text-primary font-bold text-center capitalize;
}

.f1, .font-abel {
	@include font-abel();
}
.f2, .font-barlow-condensed {
	@include font-barlow-condensed();
}
.f3, .font-borel {
	@include font-borel();
}
.f4, .font-major {
	@include font-major();
}
.f5, .font-montserrat-alternates {
	@include font-montserrat-alternates();
}
.f6, .font-roboto-condensed {
	@include font-roboto-condensed();
}