@use "styles/basicClasses";

@tailwind base;
@tailwind components;
@tailwind utilities;

// unified sizings
$gap-1: 1rem;
$nav-height: 6rem;

@mixin box-wrapper {
  margin: auto;
  padding: $gap-1;
}

@mixin base-styles {
  box-sizing: border-box;
  // font-family: 'Cera Round Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  // font-weight: 500;
}

// --- top to bottom ~ --- //
* {
  @include base-styles();
}

textarea {
  resize: none;
}
body {
  min-height: 720px;
  min-width: 1280px;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  @apply dark flex-col;
  & > .header-nav{
    height: 5%;
  }
  & > main {
    height: 87%;
  }
  & > .footer {
    height: 7%;
  }
}

.dark {
  @layer components {
    @apply bg-slate-900 text-white;
  }
}

.user-icon {
  // height: 100%;
  @layer components {
    @apply h-full border p-4;

  }
}
.flex-fill {
  height: 80%;
  flex: 1 1 auto;
}